<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv1RNRgOSMtopTZTCjAklPvnAl6e2f53U</string>
	<key>GCM_SENDER_ID</key>
	<string>206147995489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOSCW.FinancialManager</string>
	<key>PROJECT_ID</key>
	<string>financial-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206147995489:ios:4d1963dd57348997c4a720</string>
</dict>
</plist>